<h1>Subir una imagen nueva</h1>

<%= form_for :image, url: images_path do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p align="center">
      <%= f.file_field :avatar %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>