<h1>Todos los Posts</h1>

<%= link_to 'Nuevo Post', new_post_path %>

<table>
  <tr>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Post</th>
  </tr>

  <% @post.each do |post| %>
          <tr class="post">
            <td ><%= post.title %></td>
            <td><%= post.user %></td>
            <td><%= post.text %></td>
            <td><%= link_to 'Show', post_path(post) %></td>
          </tr>
  <% end %>
</table>
<div class = "button"></div>