<h1 align="center">Nuevo Post</h1>

<%= form_for :post, url: posts_path do |f| %>
    <p align="center">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p align="center">
      <%= f.label :user %><br>
      <%= f.text_field :user %>
    </p>

    <p align="center">
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p align="center">
      <%= f.label :tag1 %><br>
      <%= f.text_field :tag1 %>
    </p>

    <p align="center">
      <%= f.label :tag2 %><br>
      <%= f.text_field :tag2 %>
    </p>

    <p align="center">
      <%= f.label :tag3 %><br>
      <%= f.text_field :tag3 %>
    </p>

    <p align="center">
      <%= f.label :tag4 %><br>
      <%= f.text_field :tag4 %>
    </p>

    <p align="center">
      <%= f.label :tag5 %><br>
      <%= f.text_field :tag5 %>
    </p>

    <p align="center">
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Volver', posts_path %>